<footer class="footer">
      <div class="container" style="background-color:#f5f5f0">
        <h3 style="text-align:center;font-family:garamond;">Angel Ria Purnamasari <%= Time.now.year %></p>
      </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>